<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Registrar Equipo</title>
</head>

<body>

<h1>Registro de Equipo Tecnológico</h1>

<form th:action="@{/equipo/guardar}"
      th:object="${equipo}"
      method="post">

  <label>Nombre del Equipo:</label>
  <input type="text" th:field="*{nombre}">
  <br><br>

  <label>Tipo de Equipo:</label>
  <input type="text" th:field="*{tipo}">
  <br><br>

  <label>Codigo de Activo:</label>
  <input type="text" th:field="*{codigo}">
  <br><br>

  <label>Fecha de Adquisición</label>
  <input type="text" th:field="*{fecha}">
  <br><br>


  <button type="submit">Registrar Equipo</button>

  <a th:href="@{/equipo}">Ver listado de equipos</a>

</form>

</body>

</html>